@model SoftwareProcess.Models.Class

@{
    ViewData["Title"] = "Create";
}
@{
    var Id = ViewBag.Id;
    var Name = ViewBag.Name;
}

<h1>Create</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-id="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="CourseID" class="form-control" value="@Id" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CourseName" class="form-control" value="@Name" />
            </div>
            <div class="form-group">
                <label asp-for="Start_DateTime" class="control-label"></label>
                <input asp-for="Start_DateTime" class="form-control" />
                <span asp-validation-for="Start_DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
